<%= form_for(@quscore) do |f| %>
  <% if @quscore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quscore.errors.count, "error") %> prohibited this quscore from being saved:</h2>

      <ul>
      <% @quscore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
