<div class="container">
  <div class="container">
    <div class="row text-center">
      <%= image_tag avatar_show(@user) %>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h1><%= @user.email %></h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h3>Member Since: <%= @user.created_at %></h3>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">

  <div class="container">
      <h4>Questions Asked</h4>
    <% @user.questions.each do |question| %>
      <div class="col-md-6">
        <% link_to question.title, question %>
      </div>
    <% end %>
  </div>
  <br/>
  <div class="container">
      <h4>Questions Answered</h4>
    <% @user.answers.each do |answer| %>
      <div class="col-md-6">
        <p><%= answer.question.title %></p>
      </div>
    <% end %>
  </div>
</div>
</div>


</div>
