// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qtop {
  border-top: 1px solid #C3C4C7;
}

.jumbotron {
  background-origin: padding-box;
  background-image: image_url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: relative;
  background-clip: border-box;
  margin: 0px;
  }




